<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.habijabi.ranna" >

    <!-- Mandatory permission -->

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <permission
        android:name="android.permission.STATUS_BAR_SERVICE"
        android:protectionLevel="signature" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="com.habijabi.ranna.SplashScreen"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.habijabi.ranna.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>




        <activity
            android:name="com.habijabi.ranna.CreateRecipe"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_create_recipe"
            >
        </activity>
        <activity
            android:name="com.habijabi.ranna.ViewRecipe"
            android:parentActivityName="com.habijabi.ranna.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.habijabi.ranna.MainActivity" />
        </activity>
        <activity
            android:name="com.habijabi.ranna.RecipeActivity"
            android:parentActivityName="com.habijabi.ranna.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.habijabi.ranna.MainActivity" />
        </activity>
        <activity
            android:name="com.habijabi.ranna.RandomReceipe"
            android:parentActivityName="com.habijabi.ranna.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.habijabi.ranna.MainActivity" />
        </activity>
        <activity
            android:name="com.habijabi.ranna.SelIngredients"
            android:configChanges="orientation|screenSize"
            android:parentActivityName="com.habijabi.ranna.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.habijabi.ranna.MainActivity" />
        </activity>
        <activity
            android:name="com.habijabi.ranna.AddIngredients"
            android:configChanges="orientation|screenSize"
            android:parentActivityName="com.habijabi.ranna.SelIngredients" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.habijabi.ranna.SelIngredients" />
        </activity>
        <activity
            android:name="com.habijabi.ranna.SuggestRecipe"
            android:configChanges="orientation|screenSize"
            android:parentActivityName="com.habijabi.ranna.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.habijabi.ranna.MainActivity" />
        </activity>
        <activity
            android:name="com.habijabi.ranna.PrintSuggestedRecipe"
            android:parentActivityName="com.habijabi.ranna.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.habijabi.ranna.MainActivity" />
        </activity>
        <activity
            android:name="com.habijabi.ranna.Grocery"
            android:label="Grocery List"
            android:parentActivityName="com.habijabi.ranna.MainActivity" >

        </activity>
        <activity
            android:name="com.habijabi.ranna.CreateGroceryList"
            android:configChanges="orientation|screenSize"
            android:parentActivityName="com.habijabi.ranna.Grocery" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.habijabi.ranna.Grocery" />
        </activity>
        <activity
            android:name="com.habijabi.ranna.ViewGroceryList"
            android:parentActivityName="com.habijabi.ranna.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.habijabi.ranna.MainActivity" />
        </activity>

        <receiver android:name="com.habijabi.ranna.NotificationGrocery" />

        <activity
            android:name="com.habijabi.ranna.DeleteActivity"
            android:theme="@android:style/Theme.Holo.Dialog" >
        </activity>
        <activity android:name="com.habijabi.ranna.CreateRecipe1">
        </activity>
    </application>

</manifest>
