<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.habijabi.ranna">

    <!-- Mandatory permission -->

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />

    <permission
        android:name="android.permission.STATUS_BAR_SERVICE"
        android:protectionLevel="signature" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".SplashScreen"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CreateRecipe"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_create_recipe" />
        <activity
            android:name=".ViewRecipe"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.habijabi.ranna.MainActivity" />
        </activity>
        <activity
            android:name=".RecipeActivity"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.habijabi.ranna.MainActivity" />
        </activity>
        <activity
            android:name=".RandomReceipe"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.habijabi.ranna.MainActivity" />
        </activity>
        <activity
            android:name=".SelIngredients"
            android:configChanges="orientation|screenSize"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.habijabi.ranna.MainActivity" />
        </activity>
        <activity
            android:name=".AddIngredients"
            android:configChanges="orientation|screenSize"
            android:parentActivityName=".SelIngredients">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.habijabi.ranna.SelIngredients" />
        </activity>
        <activity
            android:name=".SuggestRecipe"
            android:configChanges="orientation|screenSize"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.habijabi.ranna.MainActivity" />
        </activity>
        <activity
            android:name=".PrintSuggestedRecipe"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.habijabi.ranna.MainActivity" />
        </activity>
        <activity
            android:name=".Grocery"
            android:label="Grocery List"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".CreateGroceryList"
            android:configChanges="orientation|screenSize"
            android:parentActivityName=".Grocery">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.habijabi.ranna.Grocery" />
        </activity>
        <activity
            android:name=".ViewGroceryList"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.habijabi.ranna.MainActivity" />
        </activity>

        <receiver android:name=".NotificationGrocery" />

        <activity
            android:name=".DeleteActivity"
            android:theme="@android:style/Theme.Holo.Dialog" />
        <activity android:name=".CreateRecipe1" />
        <activity android:name=".RecipeCategory"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.habijabi.ranna.MainActivity" />
        </activity>

        <activity android:name=".RecipeCloud"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.habijabi.ranna.MainActivity" />
        </activity>/>
    </application>

</manifest>